@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

.width50{
    width: 50%;
}
.bold{
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center;
}

.alSpace{
    justify-content: space-around;
}

.spacebetwen{
    justify-content: space-between;
}
.container{
   /* background-color:red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.btn{
    background-color: #0948f6;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 10px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
.navHeader{
    /*background-color: beige;*/
    width: 76%;
}

header {
    /* background-color: yellow;*/
     padding: 15px 15px;
 }

 header img{
    width:5%;

 }

 /*SECTION HERO*/

 .imghero{
width: 55%;
 }

 .herodiv{
    width: 30%;
 }


 /*SECTION PROJET*/

.backgB{
    background-color: black;
    color: white;
}
.backgW{
    background-color: white;
    color: black;
}
 .lacarte{
    width: 1000px;
    /*background-color: #2746f3;*/
    border-radius: 12px;
 }

.lacarte img {
        width: 372px;
        height: 250px;
       
}

.lacarte div {
    width: 58%;
}

.text{
    margin-top: 30px;
    margin-bottom: 30px;
}

.text2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.paddinSes{
    padding: 35px;
}
.paddinDiv{
    padding: 15px;
}

.liper{
    background-color: lightgray;
    width: 210px;
    margin-top: 5px;
    border: solid;
}

.magtop{
    margin-top: 25px;
}

/*SECTION A PROPOS DE MOI*/

.imgPm{
    width: 29%;
    
}

.imgPm img{
    width: 60px;
    height: 66px;
}

.limarg{
    margin-bottom: 7px;
}



/*footer*/
.texCen{
    padding: 50px;
    text-align: center;
    color: gray;
    margin-top: 34px;
}

