@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Odibee+Sans&display=swap');
/*import premet d'importer une font choisi sur un site de font comme font awsom, de la coller sur une feuille de style et de l'appliquer*/


/* en fesant * on selection tout le contenu de la page, avec margin 0, et padding 0, on élimine toute les marges,et padding mis automatiquement par le navigateur, et avec font style on choix la font qui sera appliquer à toute la page*/
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

/*width50 permet la boite a laquelle on à mis la classe de prendre 50% de la (section,div)/ note: pensée a créer différente class width (ex:width30,width40,width50,width60) en cas de desoin*/
.width50{
    width: 50%;
}

/*permet de mettre le mot en gras selon la typographie*/
.bold{
    font-weight: 600;
}

/*permet de rendre la transition sur la poge entre l'id et l'element lié plus doux*/
html{
    scroll-behavior: smooth;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center;
}


.spacebetwen{
    justify-content: space-between;
}
.container{
   /* background-color:red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

/*couleur de backgroud noir*/
.backgB{
    background-color: black;
    color: white;
}

/*couleur de background blanc*/
.backgW{
    background-color: white;
    color: black;
}
/*le bouton*/
.btn{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    color: rgb(7, 7, 7);
    display: inline-block;
    margin-top: 10px;
    border: solid;
    transition: 0.3s;
}
/*permet d'avoir un change de couleur ou de taille de police lorsque l'on passe la sourie devant les element ayant cette classe*/
.btn:hover{
    border-color: white;
    color: white;
    background-color: black;
}

/*permet d'enlever le style par défaut d'une liste*/
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
/*taille du header*/
.navHeader{
    /*background-color: beige;*/
    width: 76%;
}


header {
    /* background-color: yellow;*/
    padding: 0px 50px;
     position: fixed;
    background-color: white;
    border: solid;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}



 /*taille de l'image ou du logo du header*/
 header img{
    width:5%;

 }

 /*SECTION HERO*/

 .imghero{
width: 55%;
 }

 .herodiv{
    width: 30%;
 }

 .magses{
    margin-top: 70px;
 }

 /*padding de la section*/
.paddinSes{
    padding: 35px;
}

 /*SECTION PROJET*/


 .lacarte{
    width: 1000px;
    /*background-color: #2746f3;*/
    border-radius: 12px;
 }

.lacarte img {
        width: 39%;
        height: 250px;
       
}

.lacarte div {
    width: 58%;
}

/*permet d'espacer les titres*/
.text{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*padding de la div*/
.paddinDiv{
    padding: 15px;
}


/*pour encadrer les langage utiliser*/
.liper{
    background-color: rgb(211, 211, 211);
    width: 210px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    
}

.magtop{
    margin-top: 25px;
}

/*SECTION A PROPOS DE MOI*/

/*taille du paragraphe a propos de moi*/

/*pour mettre une margin bottom au premier et second h3 de la section*/
.textC{
    margin-bottom: 30px;
}

.textD{

    margin-top: 15px;
    margin-bottom: 9px;
}
.propsWidth{
    width: 40%;
}


.imgPm{
    width: 100%;
    
}

/*taille des image importer html et css*/
.imgPm img{
    width: 60px;
    height: 66px;
}

/*créer un peu d'espace entre les listes*/
.limarg{
    margin-bottom: 7px;
}

/*SECTION CONTACT*/
.ftw{
    font-weight: 700;
}

/*footer*/
.texCen{
    padding: 50px;
    text-align: center;
    color: gray;
    margin-top: 34px;
}

@media all and (max-width:500px){
    .none{
        display: none;
    }
    .medium100{
        width: 100%;
    }
}