@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

.bold{
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center;
}

.spacebetwen{
    justify-content: space-between;
}
.container{
   /* background-color:red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.btn{
    background-color: #0948f6;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
.navHeader{
    /*background-color: beige;*/
    width: 76%;
}

header {
    /* background-color: yellow;*/
     padding: 15px 15px;
 }

 header img{
    width:5%;

 }

 /*SECTION HERO*/

 .imghero{
width: 55%;
 }

 .herodiv{
    width: 20%;
 }


 /*SECTION PROJET*/

 .lacarte{
    width: 1000px;
    background-color: #2746f3;
    border-radius: 15px;

 }

.lacarte img {
        width: 372px;
        height: 200px;
        object-fit: cover;

}

.text{
    text-align: center;
}

